<html>
<head>
	<title>add task</title>
	<script src="{{url_for('static',filename='js/jquery-1.7.2.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/add_task.js')}}"></script>
	<link rel="stylesheet" href="{{url_for('static',filename='css/add_task.css')}}" type="text/css" />
</head>

<body>
	<form method='post' action='/task/add_task'>
		解析器:
		<select name='interpreter'>
			<option value ="">无</option>
			<option value ="/usr/bin/python2.6" selected="selected">Python2.6</option>
			<option value ="/bin/bash">Shell</option>
			<option value ="/usr/bin/perl">Perl</option>
		</select><br />
		
		脚本路径:
		<input type='text' name='uri' value='/u01/dbagent/plugin/' size='100'> <br />

		参数:
		<input type='text' name='args' value='' size='100'> <br />
		
		调度方式:
		<select name='task_type' id='task_type'>
			<option value ="1">crontab</option>
			<option value ="2">date</option>
			<option value ="3">interval</option>
		</select><br />

		<div id="t_crontab">
			<hr>
			crontab类型即传统的crontab类型<br />
			year	:<input type='text' name='crontab_year'><br />
			month	:<input type='text' name='crontab_month'><br />
			day		:<input type='text' name='crontab_day'><br />
			week	:<input type='text' name='crontab_week'><br />
			day_of_week:<input type='text' name='crontab_day_of_week'><br />
			hour	:<input type='text' name='crontab_hour'><br />
			minute	:<input type='text' name='crontab_minute'><br />
			second	:<input type='text' name='crontab_second'><br />
			<hr>
		</div>

		<div id="t_date" class="hide">
			<hr>
			指定日期调度<br />
			日期:<input type='text' name='date_date' value='2013-04-06 04:30:00' size='50'><br />
			<hr>
		</div>

		<div id="t_interval" class="hide">
			<hr>
			指定间隔时间调度<br />
			weeks	:<input type='text' name='intval_weeks' value=''><br />
			days	:<input type='text' name='intval_days' value=''><br />
			hours	:<input type='text' name='intval_hours' value=''><br />
			minutes	:<input type='text' name='intval_minutes' value=''><br />
			seconds	:<input type='text' name='intval_seconds' value=''><br />
			起始日期:<input type='text' name='start_date' value='2013-04-06 04:30:00' size='50'><br />
			<hr>
		</div>
		
		logging:
		<select name='to_log'>
			<option value ="n">NO</option>
			<option value ="y">YES</option>
		</select><br />

		running:
		<select name='to_run'>
			<option value ="n">NO</option>
			<option value ="y">YES</option>
		</select><br />

		to_all?:
		<select name='to_all'>
			<option value ="n">NO</option>
			<option value ="y">YES</option>
		</select><br />

		<input type='submit'>
	</form>
</body>

</html>
