<html>
<head>
	<title>web orzdba</title>
	<script src="{{url_for('static',filename='js/jquery-1.7.2.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/orzdba.js')}}"></script>
</head>

<body>
	<input type="hidden" id="pid" value={{pid}}>
	<input type="hidden" id="filename" value={{filename}}>
	<input type="hidden" id="pos" value='0'>
	
	<pre>
		<div id='content'>
		</div>
	</pre>
</body>

</html>
